<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="lib/boostrap-reboot-min.css">
    <link rel="stylesheet" href="lib/boostrap-grid-min.css">
    <link rel="stylesheet" href="index.css">
    <script src="index.js" defer></script>
    <title>MindkeepeR</title>
</head>

<body>
<nav class="navbar">
    <div class="container">
        <a href="#" class="navbar-brand">MindkeepeR</a>
        <div class="navbar-wrapp">
            <ul class="navbar-menu">
                <li><a href="#">Global storage</a></li>
                <li><a href="#">Your storage</a></li>
                <li><a href="#">INFO</a></li>
            </ul>
            <div class="profile"><a href="../forms/log_reg_page.html">USERNAME</a>
                    <ul class="profile_menu">
                        <li><a href="">Настройки</a></li>
                        <li><a href="">Выйти</a></li>
                    </ul>
            </div>

        </div>
    </div>

</nav>
</body>

</html>