* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212590;
    transition: 0.5s ease-in-out;
}

body.active {
    background-color: #212529;
}

.container {
    width: 800px;
    height: 500px;
    padding: 40px 0;
    position: relative;
}

.block{
    height: 100%;
    background-color: rgba(33, 37, 41, 0.2);
    box-shadow: 9px 5px 35px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
}

.block__item {
    width: 50%;
}

.block-item{
    text-align: center;
}

.block-item__title{
    font-size: 1.2rem;
    font-weight: 500;
    color: lightgray;
    margin-bottom: 10px;
}

.block-item__btn{
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: white;
    color: #212529;
    font-size: 16px;
    font-weight: 500;
}

.form-box{
    background-color: white;
    height: 100%;
    width: 50%;
    box-shadow: 9px 5px 35px rgba(0, 0, 0, 0.6);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    transition: 0.5s ease-in-out;

    display: flex;
    align-items: center;
    overflow: hidden;
}

.form-box.active .form_signin{
    left: -100%;
    transition-delay: 0s;
}

.form-box.active .form_signup{
    left: 0;
    transition-delay: 0.2s;


}

.form-box.active{
    left: 50%;
}

.form {
    width: 100%;
    padding: 50px;
    font-size: 16px;
    position: absolute;
    transition: 0.5s;
}

.form_signup{
    left: 100%;
    transition-delay: 0s;
}

.form_signin{
    left: 0;
    transition-delay: 0.2s;
}

.form__title {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;}

.form__input{
    width: 100%;
    padding: 10px;
    font-size: inherit;
}

.form__btn {
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: #024dbc;
    color: white;
    padding: 10px 50px;
    width: 100%;
    text-align: center;

}

.form__forgot_password{
    color: #024dbc;
    display: block;
    text-align: center;
}

.form__btn__signup{
    background-color: #212529;
}

.form__title_signin{

    color: #024dbc;

}
.form__title_signup{

    color: #212529;

}
.sing_up-btn{

    background-color: #024dbc;
    color: lightgray;

}

@media (max-width: 992px) {

    .container{
        max-width: 400px;
        height: 650px;
        padding: 0;
        margin: 0 20px;
    }

    .block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .block__item{
        width: 100%;
        padding: 30px 0;
    }

    .form-box{
        width: 100%;
        height: 500px;
        box-shadow: none;

        top:0;
    }

    .form-box.active{
        top:150px;
        left:0;
    }

}