{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/log_reg_page_style.css' %}">
    <title>Авторизация</title>
    <script src="{% static 'js/log_reg_page.js' %}" defer></script>
</head>
<body>

    <article class="container">

        <div class="block">
            <section class="block__item block-item">
                <h1 class="block-item__title">У вас уже есть аккаунт?</h1>
                <button class="block-item__btn sing_in-btn">Авторизоваться</button>
            </section>
            <section class="block__item block-item">
                <h1 class="block-item__title">У вас еще нету аккаунта?</h1>
                <button class="block-item__btn sing_up-btn ">Зарегистрироваться</button>
            </section>
        </div>

        <div class="form-box">

            <form action="{% url 'users:login' %}" class="form form_signin" method="POST">
                <h3 class="form__title form__title_signin">Вход</h3>
                {% csrf_token %}

                <p>
                    {{log_form.username}}
                </p>
                <p>
                    {{log_form.password}}
                </p>
                <p>
                    <button class="form__btn">Войти</button>
                </p>
                {{log_form.error}}
                <p>
                    <a href="" class="form__forgot_password">Восстановить пароль</a>
                </p>
            </form>

            <form action="{% url 'users:registration' %}" class="form form_signup" method="post">
                <h3 class="form__title form__title_signup">Регистрация</h3>
                {% csrf_token %}
                <p>
                    {{reg_form.username}}
                </p>
                <p>
                    {{reg_form.email}}
                </p>
                <p>
                    {{reg_form.password1}}
                </p>
                <p>
                    {{reg_form.password2}}
                </p>
                {{reg_form.errors}}
                <p>
                    <button class="form__btn form__btn__signup">Зарегистрироваться</button>
                </p>
            </form>

        </div>

    </article>

</body>
</html>